.green{
    width: fit-content;
    background-color: green;
    color: white;
    font-weight: bold;
}
.yellow{
    width: fit-content;
    background-color: yellow;
    color: black;
    font-weight: bold;
}
.orange{
    width: fit-content;
    background-color: orange;
    color: black;
    font-weight: bold;
}
.red{
    width: fit-content;
    background-color: red;
    color: black;
    font-weight: bold;
}
