.styleUV-index{
    width: fit-content;
    color: white;
    font-weight: bold;
    border-style:solid ;
    border-radius: 1px;
    border: black;
}
.green{
    background-color: green; 
}
.yellow{
    background-color: yellow;
    color: black;
}
.orange{
    background-color: orange;
    color: black;
}
.red{
    background-color: red;
}
